{% extends "base.html" %}
{% block content %}
<h3>Modify Attendance</h3>
<form method="post">
{% csrf_token %}
{{ form1 }}
<input type="submit" value="Ok" name="ok">
</form>

{% if classes %}
<b>{{ dayname }}, {{ date_day }}-{{ date_month }}-{{ date_year }}</b> 
<br>
<b>Warning- The default values shown below do not reflect the actual values already entered, if any. Refer to the excel sheet or the admin page or the detailed daywise page to see the attendance already entered.</b><br>
<form method="post">
{% csrf_token %}
    <p>1.  <select name="class1">{% for class in classes %}<option value="{{ class }}" {% if default.1 == class %} selected {% endif %}>{{ class }}</option>{% endfor %}</select>&emsp;<select name="status1"><option value="n" selected>Not Scheduled</option><option value="p">Present</option><option value="a">Absent</option></select></p>
    <p>2.  <select name="class2">{% for class in classes %}<option value="{{ class }}" {% if default.2 == class %} selected {% endif %}>{{ class }}</option>{% endfor %}</select>&emsp;<select name="status2"><option value="n" selected>Not Scheduled</option><option value="p">Present</option><option value="a">Absent</option></select></p>
    <p>3.  <select name="class3">{% for class in classes %}<option value="{{ class }}" {% if default.3 == class %} selected {% endif %}>{{ class }}</option>{% endfor %}</select>&emsp;<select name="status3"><option value="n" selected>Not Scheduled</option><option value="p">Present</option><option value="a">Absent</option></select></p>
    <p>4.  <select name="class4">{% for class in classes %}<option value="{{ class }}" {% if default.4 == class %} selected {% endif %}>{{ class }}</option>{% endfor %}</select>&emsp;<select name="status4"><option value="n" selected>Not Scheduled</option><option value="p">Present</option><option value="a">Absent</option></select></p>
    <p>5.  <select name="class5">{% for class in classes %}<option value="{{ class }}" {% if default.5 == class %} selected {% endif %}>{{ class }}</option>{% endfor %}</select>&emsp;<select name="status5"><option value="n" selected>Not Scheduled</option><option value="p">Present</option><option value="a">Absent</option></select></p>
    <p>6.  <select name="class6">{% for class in classes %}<option value="{{ class }}" {% if default.6 == class %} selected {% endif %}>{{ class }}</option>{% endfor %}</select>&emsp;<select name="status6"><option value="n" selected>Not Scheduled</option><option value="p">Present</option><option value="a">Absent</option></select></p>

<p><b>Comments &emsp;</b><input type="text" name="comments" id="comments"></p><br>
<input type="submit" value="Submit" name="submit">
</form>
{% endif %}
{% endblock content %}
